/* START FONT STYLES */
  @font-face {
   font-family: Moon Light;
    src: url(Moon_Light.otf);
  }
  body {
   overflow-x: hidden; /* Hide scrollbars */
   font-family: Moon;
   font-size: 16px;
   margin: 0%;
  }
  .page {
   height: 100vh;
   width: 100vw;
  }
  h1 {
   font-family: Moon;
   font-size: 53px;
   color: #22343B;
   font-weight: normal;
   letter-spacing: 0em;
   text-align: left;
   position: absolute;
   margin-left: 120px;
   margin-top: 520px;
  }
  h2 {
   font-family: Assistant;
   font-size: 48px;
   color: #22343B;
   font-style: normal;
   font-weight: 275;
   line-height: 63px;
   letter-spacing: 0em;
   text-align: left;
   position: absolute;
   top: 55.33%;
  }
  h3 {
   font-family: Moon;
   font-size: 40px;
   color: #22343B;
   font-style: normal;
   font-weight: 300;
   line-height: 0px;
   letter-spacing: 0em;
    text-align: left;
  }
  h4 {
   font-family: Assistant;
   font-style: normal;
   color: #22343B;
   font-weight: 275;
   font-size: 24px;
   line-height: 31px;
  }
  p {
   font-family: Assistant;
   font-style: normal;
   color: #22343B;
   font-weight: 275;
   font-size: 16px;
   line-height: 21px;
   position: absolute;
  }
/* END FONT STYLES */

/* START SIDEBAR NAVIGATION */
  /* The side navigation menu */
  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    background-color: #4F6A74;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 72px;
  }
  
  .sidenav a {
    padding: 22px 8px 22px 82px;
    text-decoration: none;
    font-size: 24px;
    color: #FFFFFF;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #BEBEBE;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .origNav{
    position: fixed;
    background: #22343B;
    width: 72px;
    height: 100%;
    left: 0px;
    top: 0px;
    filter: drop-shadow(4px 0px 12px rgba(34, 52, 59, 0.25));
    z-index: 0;
  }

  .origNav a{
    padding: 0px 0px 0px 0px
  }

  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  .menuIconEmail {
    background-image: url("../Images/menuIconEmail.png");
    background-repeat: no-repeat;
    position: relative;
    width: 72px;
    height: 72px;
  }
    
  .menuIconEmail:hover {
    background-image: url("../Images/hover_menuIconEmail.png");
  }
    
  .menuIconEmail:active {
    background-image: url("../Images/press_menuIconEmail.png");
  }
    
  .menuIconLinkedin {
    background-image: url("../Images/menuIconLinkedIn.png");
    background-repeat: no-repeat;
    position: relative;
    width: 72px;
    height: 72px;
  }
    
  .menuIconLinkedin:hover {
    background-image: url("../Images/hover_menuIconLinkedIn.png");
  }
    
  .menuIconLinkedin:active {
    background-image: url("../Images/press_menuIconLinkedIn.png");
  }
    
  .menuIconBehance {
    background-image: url("../Images/menuIconBehance.png");
    background-repeat: no-repeat;
    position: relative;
    width: 72px;
    height: 72px;
  }
    
  .menuIconBehance:hover {
    background-image: url("../Images/hover_menuIconBehance.png");
  }
    
  .menuIconBehance:active {
    background-image: url("../Images/press_menuIconBehance.png");
  }
    
  .menuIconPinterest {
    background-image: url("../Images/menuIconPinterest.png");
    background-repeat: no-repeat;
    position: absolute;
    width: 72px;
    height: 72px;
  }
    
  .menuIconPinterest:hover {
    background-image: url("../Images/hover_menuIconPinterest.png");
  }
    
  .menuIconPinterest:active {
    background-image: url("../Images/press_menuIconPinterest.png");
  }
/* END SIDEBAR NAVIGATION */

/* START */
  .logo {
    background-image: url("../Images/Logo.png");
    background-repeat: no-repeat;
    position: absolute;
    width: 260px;
    height: 260px;
    margin-left: 120px;
    margin-top: 225px;
  }

  .heroImg {
    background-image: url("../Images/heroImage.png");
    background-repeat: no-repeat;
    width: 1060px;
    height: 800.33px;
    position: absolute;
    left: 1110px;
    top: 12.96%;
    bottom: 12.96%;
  }
  
  .galleryImages {
    background-image: url("../Images/galleryImages.png");
    background-repeat: no-repeat;
    display: flex;
    width: 540px;
    height: 800.33px;
    align-content: center !important;
    justify-content: flex-start;
    position: absolute;
  }
  
  .button1 {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #FAC0B0;
    position: absolute;
    width: 260px;
    height: 65px;
    border-radius: 50px;
    color: #22343B;
    text-align: center;
    font-family:Moon;
    font-size: 20px;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
  }
  
  .button1:hover {
    background-color: #F8D6CD;
  }
  
  .portfolioImage {
    background-image: url("../Images/portfolio_wanderr.png");
    background-repeat: no-repeat;
    display: flex;
    width: 1100px;
    height: 680px;
    align-items: center !important;
  }

  html {
    scroll-behavior: smooth;
  }
  
/* END */